{% extends 'layout.twig' %}
{% block body_class %}category products has-sidebar{% endblock body_class %}
{% block body %}
<br><br class="hidden-xs">
<div class="container">
  <div class="row">
    <div class="wrapper__main-content">
      <article class="product-single">
        <div class="row">
        {% if product.images | length > 0 %} {# if has more images #}
          <section class="product-media">
            <div id="sp-img-full">
              <figure class="item">
                <img id="zoom" class="full-img-width AAAA" src="{{ product.image_url ~ '&w=1200' }}" alt="{{ product.title }} - {{ store.name }}" itemprop="thumbnail">
              </figure>
            </div>
            {% if product.images | length > 1 %}
              <div id="slider-sp-img-thumbs" class="owl-carousel owl-theme fouc">
              {% for image in product.images %}
                <figure class="item">
                  <img class="thumbnail-img-width BBBB" src="{{ image.url ~ '&w=1200' }}" alt="{{ product.title }} - {{ store.name }}" data-src="{{ image.url ~ '&w=1200' }}" itemprop="thumbnail">
                </figure>
              {% endfor %}
              </div>
            {% endif %}
          </section>
        {% else %}
          <section class="product-media">
            <div id="sp-img-full">
              <img class="img-responsive full-img-width CCCC" src="{{ 'placeholders/product-11.jpg' | global_img_url }}" alt="{{ product.title }} - {{ store.name }}" itemprop="thumbnail">
          </section>
        {% endif %} {# end if has images #}
          <div class="product-info">
            <section class="product-details">
              <h1 class="product-title">{{ product.name }}</h1>
              {% if product.vendor and settings.show_vendor_name %}
              <p class="product-brand">{{ product.vendor.name }}</p>
              {% endif %}
              {% if settings.show_sku_code and product.sku.code is not empty %}
              <p class="product-sku-code js-sku-code"><small>SKU: <strong>{{ product.sku.code }}</strong></small></p>
              {% endif %}
              <div class="product-price">
                <span class="regular-price js-product-price-amount">
                  {{ product.price | money('symbol', 'code') }}
                </span>
                <span class="compared-price js-product-price-compared-amount">  {{ product.sku.compared_price > product.sku.price ? product.sku.compared_price | money('symbol') }}
                </span>
              </div>
              <h5 class="product-summary">{{ product.summary }}</h5>
              <br class="hidden-xs">
              {% if settings.enable_share_products %}
              <div class="product-social-share">
                {% include '_social-share.twig' %}
              </div>
              <hr>
              {% endif %}
              <p class="product-description">{{ product.description|raw }}</p>
            </section>
            <br>
            <section class="product-options">
              <form class="prod_atc" action="/carrito/agregar" method="post">
                <input type="hidden" name="sku_id" value="{{product.sku.id}}">
                <div class="row">
                {% for modifier, options in product.skus_modifiers %}
                  {% set step = loop.index0 %}
                  {% set default_option = product.sku.modifiers[step] %}
                  <div class="half">
                    <select id="{{ modifier }}" class="selectpicker form-control js-variant-select" title="{{ modifier }}" name="{{ loop.index0 }}">
                    {% for option in options %}
                      <option value="{{ loop.index0 }}" {% if default_option == option %}selected="selected"{% endif %}>{{ option }}</option>
                    {% endfor %}
                    </select>
                  </div>
                {% endfor %}
                  <div class="half">
                    <select class="selectpicker form-control js-qty-select" title="Cantidad" name="quantity" id="quantity">
                      {% for qty in 1..5 %}
                      <option value="{{ qty }}" {{ qty == item.quantity ? ' selected="selected"' : null }}>{{ qty }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% if product.is_in_stock %}
                  <div class="full-width fouc">
                    <button class="btn btn-add-to-cart js-atc"><i class="zmdi zmdi-shopping-cart"></i> &nbsp;Añadir a tu carrito</button>
                    <button type="submit" class="btn-add-to-cart js-atc-disabled" disabled="disabled">
                      No disponible
                    </button>
                  </div>
                {% else %}
                  <div class="full-width">
                    <button class="btn-add-to-cart js-atc-disabled" disabled="disabled">
                      No disponible
                    </button>
                  </div>
                {% endif %}
                </div>
              </form>
            </section>
          </div>
        </div>
        <br><br>
        <div class="clearfix"></div>
      </article>
    </div>
    <div class="wrapper__side-content">
      {% include '_sidebar.twig' with { 'show_viewer' : false } %}
    </div>
  </div>
</div>
{% endblock body %}

{% block js_body %}
{{ parent() }}
{% if settings.enable_product_image_zoom %}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.18/jquery.zoom.min.js' | script_tag }}
{% endif %}

<script type="text/javascript">
  var removeMainImgContainerHeight = function() {
      $('#sp-img-full figure.item').removeAttr("style");
    }
  var setMainImgContainerHeight = function() {
    var mainImgContainerHeight = $('#sp-img-full figure.item').outerHeight();
    $('#sp-img-full figure.item').css({ 'min-height': mainImgContainerHeight });
  }
  setMainImgContainerHeight();

{% if settings.enable_product_image_zoom %}
  function loadZoom() {
    $('#zoom').wrap('<span style="display:block"></span>')
      .css('display', 'block')
      .parent()
      .zoom();
    }
    loadZoom();
{% endif %}
  // Update Social Share Links
  var title = '{{ product.name | escape }}';
  var updateShareUrl = function(image_url) {
    var image_url = image_url || '';
    var permalink = $(location).attr('href');
    var social_brands = ["facebook", "twitter", "pinterest", "google"];
    $.each(social_brands, function (index, value) {
      if (value == 'facebook') {
        $('.share-'+value).attr("href", '//www.facebook.com/sharer.php?u='+permalink);
      }
      if (value == 'twitter') {
        $('.share-'+value).attr("href", '//twitter.com/share?text='+title+'&url='+permalink);
      }
      if (value == 'pinterest' && image_url.length > 1) {
        $('.share-'+value).attr("href", '//pinterest.com/pin/create/button/?url='+permalink+'&media='+image_url+'&description='+title);
      }
      if (value == 'google') {
        $('.share-'+value).attr("href", '//plus.google.com/share?url='+permalink);
      }
    });
  }
{% if product.is_in_stock %}
  var skus = {{ product.skus | json }};
  $('.js-atc-disabled').hide();
  showSelectedSku();
  function showSelectedSku() {
    // only one sku, no variants to validate
    if (skus.length == 1) {
      return updateSkuControls(skus[0]);
    }
    // get the product variant modifiers from the selects
    var selectedModifiers = [];

    $('.js-variant-select').each(function() {
      selectedModifiers.push($(this).find(":selected").text());
    });

    var foundSku = null;
    // check if there's an sku with the selected modifiers
    skus.forEach(function(sku) {
      var modifiers = sku.modifiers;
      if ($(modifiers).not(selectedModifiers).length === 0 && $(selectedModifiers).not(modifiers).length === 0 ) {
        foundSku = sku;
        return false;
      }
    });

    selectedModifiers = selectedModifiers.length = 0;
    return updateSkuControls(foundSku);
  }

  function updateSkuControls(sku) {
    var newImageMain = sku.image_url;
    var newurl = sku.permalink;
{% if product.sku.permalink != 'default' %}
    history.pushState(null, null, newurl);
    updateShareUrl(newImageMain);
    setMainImgContainerHeight();
{% endif %}
    var enabledAddButton = $('.js-atc');
    var disabledAddButton = $('.js-atc-disabled');
    var comparedPriceElement = $('.js-product-price-compared-amount');
    var imageMain = $('#sp-img-full .item');
    imageMain.find('img').attr('src', newImageMain);

    if (sku !== null) {
      if (sku.stock_policy !== 'none' && sku.in_stock < 1) {
        sku = null;
      }
    }
    if (sku !== null) {
      disabledAddButton.hide();
      enabledAddButton.show();
      $('input[name=sku_id]').val(sku.id);
      $('.js-product-price-amount').html(formatPrice(sku.price));
      if (sku.compared_price > sku.price ) {
        comparedPriceElement.html(formatPrice(sku.compared_price)).show();
      } else {
        comparedPriceElement.hide();
      }
    } else {
      disabledAddButton.show();
      enabledAddButton.hide();
      //comparedPriceElement.hide();
    }
    return sku;
  }

  function formatPrice(price) {
    price /= 100;
    price = price.toFixed(2);
    price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return '$ ' + price + ' {{ store.currency }}';
  }
  $('.js-variant-select').change(function() {
    showSelectedSku();
  });
{% endif %}
$(document).ready(function(){
  var imgCont = $('.product-single #sp-img-full'),
    thumbCont = $('#slider-sp-img-thumbs'),
    owlItem = $('.owl-item');

    thumbCont.owlCarousel({
      margin: 3,
      nav:false,
      responsiveBaseElement: '.wrapper__main-content',
      responsiveClass:true,
      responsive: {
        0: {
            items: 3
        },
        700: {
            items: 4
        }
      }
    }).on('click', '.owl-item .item', function(e) {
      e.preventDefault();
      //** Cambiar imagen grande por la del thumb
      var thumbSrc = $(e.target).attr('data-src'); // Imag del figure clickeado
      imgCont.find('.product-single #sp-img-full figure img').attr('src', thumbSrc); // Sustituir

      {% if settings.enable_product_image_zoom %}
        imgCont.find('#sp-img-full .item img').attr('src', thumbSrc);
        var zoom = $('#zoom');
        if (thumbSrc && $('.zoomImg').attr('src') != thumbSrc) {
          zoom.trigger('zoom.destroy');
          zoom.attr("src", thumbSrc);
          loadZoom();
        } else {
          zoom.attr("src", thumbSrc);
        }
      {% endif %}
    });
  });

  $(window).on('resize', function () {
    removeMainImgContainerHeight();
  });
</script>
{% endblock js_body %}
